chromadb==1.0.20
langchain==0.3.27
langchain_chroma==0.2.5
langchain_community==0.3.29
langchain_experimental==0.3.4
langchain_text_splitters==0.3.11
llama_index==0.13.6
protobuf==6.32.0
python-dotenv==1.1.1
rerankers==0.10.0
